a {
  text-decoration: none;
}
.title {
  text-align: center;
  padding-top: 20px;
  color: rgb(13, 13, 14);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
}
.delete {
  color: red;
  padding-top: 10px;
  font-weight: 100rem;
}
.add {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

label {
  margin-right: 15px;
  font-size: medium;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
}
.fill {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-bottom: 10px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  border: solid rgb(202, 202, 218) 5px;
  width: 400px;
  height: fit-content;
  margin-top: 100px;
  padding-bottom: 20px;
  background-color: rgb(202, 202, 218);
}
.main-container {
  display: flex;
  justify-content: center;
}
/* Form  */
.displayForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}

.displayForm input {
  margin-bottom: 10px;
  padding: 10px 10px;
}
.rating-btn {
  display: flex;
  padding-bottom: 10px;
}
.submit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cancel-btn button {
  padding: 10px 10px;
  border: none;
  background-color: red;
  outline: none;
  border-radius: 20px;
}
.cancel-btn button :hover {
  width: 25px;
  color: yellow;
}
.submit-btn input :hover {
  color: yellow;
}

.cancel-btn a {
  color: white;
}
.submit-btn input {
  padding: 10px 10px;
  border: none;
  background-color: green;
  color: white;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
#rating select {
  font-size: x-large;
  width: 100%;
  padding: 10px 10px;
  color: darkcyan;
  outline: none;
}

/*--- Form End */

/* ---User Bookmar Dispaly --*/
.displaybookmark {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: solid darkcyan 2px;
  color: blue;
}
.displayForm {
  display: none;
}
/* Title Button */
.displaybookmark button {
  margin-top: 12px;
  background: none;
  border: none;
  outline: none;
}
.displaybookmark span {
  color: blue;
  font-size: x-large;
}
span.down {
  display: none;
}

/* slider conatiner */
.slider-conatiner {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
}
.slider-conatiner a {
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 10px;
}
.view-box {
  display: flex;
  justify-content: space-around;
}

.view-box span {
  border: solid green 2px;
  border-radius: 50%;
  padding: 10px;
}
.error {
  color: red;
  border: solid red 3px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  display: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
}
