.form-container {
  border: solid black 1.5px;
  width: 50%;
  padding: 5px 10px 10px;
}
a {
  text-decoration: none;
}
.header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: -10px;
}

input {
  width: 100%;
  color: orange;
  font-size: medium;
}
label {
  font-size: large;
  color: blue;
  padding-right: 10px;
}

.add-form {
  display: flex;
  flex-direction: column;
}

.web-name {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  font-size: medium;
}

.web-url {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  font-size: medium;
}

.web-description {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  font-size: small;
}

.add-btn {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-bottom: 30px;
}

.submit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10px;
}
